<div class="container mt-5">
    <h5 >weather</h5>
    <div class="col-12 center-input justify-content-center mt-5">
        <input type="search" class="form-control" [(ngModel)]="searchQuery" (input)="getWeather()" name="searchQuery" placeholder="Search your location">
        <h1 class="text-center mt-5">{{ weatherData.name }}</h1>
        <h6 class="text-center">{{ getCurrentDateTime()}}</h6>
        <h1 *ngIf="searchPerformed" class="deg text-center">{{ kelvinToCelsius(weatherData?.main?.temp) | number: '1.0-0' }}°C</h1>        <h3 class="text-center">{{ weatherData?.weather[0]?.description }}</h3>
      </div>

    <div class="row  mt-5 ms-1 me-1">
          <div class="col-lg-6 hum   ">
            <h6 class="text-end">Humidity</h6>
            <h2 class="text-end">{{ weatherData?.main?.humidity }}%</h2>
          </div>

          <div class="col-lg-6 feels ">
            <h6 class="text-start">Feels like</h6>
            <h2 class="text-start">{{ kelvinToCelsius(weatherData?.main?.feels_like) | number: '1.0-0' }}°C</h2>
          </div>
    </div>
</div>